html {
  height: 100%
}
body {
  background-image: white;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
h1 {
  color: #107896;
  text-align: center;
  height: 5%;
  font-family: 'Open Sans', 'PT Sans', Helvetica, sans-serif;
  font-style: italic;
  font-size: 200%;
}
.nav {
  display: block;
  text-align: center;
  text-decoration: none;
  border-bottom: 0;
}
.nav .active {
  background-color: #107896;
}  
nav ul li a:hover {
  background-color: #9A2617;
}
nav ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}
nav ul li {
  display:inline;
}
nav ul li a {
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #43ABC9;
  color: #ffffff;
  font-family: 'Open Sans', 'PT Sans', Helvetica, sans-serif;
  font-size: 110%;
}
h2 {
  color: #107896;
  text-align: left;
  font-family: 'Open Sans', 'PT Sans', Helvetica, sans-serif;
  font-style: italic;
}
/* Page 1 - My Resume */
.myinfo {
  text-align: center;
  font-family: 'Arimo:400', 'PT Sans', Helvetica, sans-serif;
}
.myname {
   color: #3C6478;
   font-size: 200%;
}
.resume h3 {
  color: #3C6478;  
}
.resume {
  text-align: left;
  display: inline-block;
  font-family: Cambria, Calibri, Helvetica; 
}
/* Page 2 - My Bigest Project */
.house h3 {
  color: #9A2617;  
  font-family: 'Amatic SC', 'Open Sans', 'PT Sans', Helvetica;
  font-size: 300%;
  font-weight: bold;
  height: 10px;
  position: relative;
  top: -10px;
}
.house {
  font-family: Helvitica, 'Open Sans', 'PT Sans', sans-serif;
  padding: 2px 5px 2px 5px;
  position: relative;
}

.picblock {
  display: inline-block; 

} 
.imgleft {
  float: left;
  margin-right: 10px;
  margin-bottom: 2px;
  padding-top: 15px;
  height: 40%;
  width: 40%;
}
.imgright {
  float: right;
  margin-left: 5px;
  margin-bottom: 2px;
  height: 75%;
  width: 75%;
}
/* Page 3 - A Trip to Tennessee  */
.page3 {
  margin-left: auto;
  margin-right: auto;
  background: radial-gradient(#BBBB95, #F4F5BC);
}
.page3 .imgright {
  float: right;
  margin-left: 5px;
  margin-bottom: 2px;
/*  height: 35%;
  width: 35%;
  max-height: 484px;
  max-width: 273; */
  height: 484px;
  width: 273px;
}
.vidsize {
  height: 300px;
  width: 400px;
}
.fishing {
  font-family: 'Bubblegum Sans', 'Open Sans', 'PT Sans', Helvetica;
  font-size: 130%;
  display: inline-block;
}